<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="XtraMapping" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\XtraApi\xtraenv\Scripts\python.exe|C:\XtraApi\xtraenv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
