<!doctype html>
<html lang="en">

<head>
  <title>Hello</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body style="padding: 0.5%;">
  <div class="mt-1 p-5 bg-primary text-white rounded">
    <h1 class="h1">Xtra API v1 By Mohammed Radwan</h1>
    <p>API Bootstraper</p>
  </div>
  <main>
      <h2 class="h2">General Get Endpoint</h2>
      <h5 class="h5">Parameters:</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Paramter</th>
          <th>Description</th>
          <th>Try</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>qn=0</td>
          <td>Gets All Items</td>
          <td><a target="_blank" href="http://localhost:8083/GeneralGet?qn=0">Get All Items</a></td>
        </tr>
        <tr>
          <td>qn=1</td>
          <td>Gets All Accounts</td>
          <td><a target="_blank" href="http://localhost:8083/GeneralGet?qn=1">Get All Accounts</a></td>
        </tr>
        <tr>
          <td>qn=2</td>
          <td>Gets Inventory Checklist</td>
          <td><a target="_blank" href="http://localhost:8083/GeneralGet?qn=2">Get Inventory Checklist</a></td>
        </tr>
        <tr>
          <td>qn=3</td>
          <td>Gets All Cost Centers</td>
          <td><a target="_blank" href="http://localhost:8083/GeneralGet?qn=3">Get All Cost Centers</a></td>
        </tr>
      </tbody>
    </table>
  </main>
  <footer>
    <div>
      <h6 class="h6">2023 Xtra API By Mohammed Radwan, +218910184901</h6>
    </div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>